@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat.woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Montserrat';
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
